.btn-secondary{
    margin-left: 10px;
    margin-right: 10px;
   
    margin-bottom: 10px;
    height: 38px;
    vertical-align: middle;
}

.row-buttons{
  
   
    opacity: 1;
}

.col4 {
 
    
}


body {
    background-image: url("https://i.imgur.com/OqH4GUk.jpg");
    
    
   }

.jumbotron2 {
    min-height: 700px;
    opacity: 0.2;
}

.row1{
    
}
