.btn-secondary{
    margin-left: 10px;
    margin-right: 10px;
   
    margin-bottom: 10px;
    height: 38px;
    vertical-align: middle;
}

.row-buttons{
  
   
    opacity: 1;
}

.jumbotron1 {
    
    opacity: 1;
}

body {
    background-color: lightblue;
    background-image: url("");
    
    
   }

.jumbotron2 {
    min-height: 700px;
    opacity: 1;
}

.col5 {
    background-color: cadetblue;
}

.row1 {
    margin-top: 40px;
}



.nvbr{
    margin-top: 20px;
    opacity: 1;
}

.jumbotron3 {
    opacity: 1;
    min-height: 180px;
}

.container1{
    opacity: 1;
}